name: Publish Helper Gtihub Page

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/ghpages.yml"
      - "helper/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          cd helper
          npm install
          REACT_APP_APPINSIGHTS_KEY=${{ secrets.REACT_APP_APPINSIGHTS_KEY}} REACT_APP_K8S_VERSION="1.20.7" REACT_APP_AZ_TEMPLATE_ARG="--template-uri https://github.com/Azure/Aks-Construction/releases/download/0.1.4-preview/main.json" npm run build

      - name: Deploy to GitHub Pages
        if: success() && github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: helper/build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
