name: Release GitHub Pages site

on:
  workflow_dispatch:
    inputs:
      templateRelease:
        description: 'What (existing or NEW) release tag to point the Wizard to'
        type: string
        required: true
      createRelease:
        description: 'Create a NEW release with that tag'
        type: boolean
        required: false

env:
  templateRelease: ${{ github.event.inputs.templateRelease }}

jobs:
  BuildWebApp:
    runs-on: ubuntu-latest
    name: Build Web App
    steps:
      - uses: actions/checkout@v2

      - name: Build node app with bicep release
        run: |
          cd helper
          npm install
          REACT_APP_APPINSIGHTS_KEY=${{ secrets.REACT_APP_APPINSIGHTS_KEY}} REACT_APP_TEMPLATERELEASE="${{env.templateRelease}}"  npm run build

      - name: Create GitHub pages release artifact
        uses: actions/upload-artifact@v2
        with:
          name: WizardApp
          path: helper/build

  CreateRelease:
    runs-on: ubuntu-latest
    name: Create GitHub Release (bicep)
    if: ${{ github.event.inputs.createRelease == 'true' }}
    steps:
      - uses: actions/checkout@v2

      - name: Check that the GitHub release doesn't already exist
        run: |
          GHJSON=$(gh release view ${{env.templateRelease}} --json name)

          if [ -z "$GHJSON" ]
          then
                echo "Release not found - great"
          else
                echo "Release already exists - aborting"
                exit 1
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Bicep
        shell: pwsh
        run: az bicep install

      - name: Bicep build
        shell: pwsh
        run: |
          #write-output $pwd
          $compiledir=Join-Path -Path $pwd -ChildPath "bicep/compiled"

          write-output $compiledir
          If(!(test-path $compiledir))
          {
                New-Item -ItemType Directory -Force -Path $compiledir
          }

          /home/runner/.azure/bin/bicep build bicep/main.bicep --outdir $compiledir

      - name: Create Bicep release artifact
        uses: actions/upload-artifact@v2
        with:
          name: CompiledBicep
          path: bicep/compiled/main.json

      - name: Create GitHub release
        run: |
          GHJSON=$(gh release create ${{env.templateRelease}} 'bicep/compiled/main.json' -p --generate-notes )
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  DeployWebAppToCanary:
    runs-on: ubuntu-latest
    name: Deploy Web App to Canary Pages
    if: ${{ always() }}
    needs: [BuildWebApp , CreateRelease]
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: WizardApp
          path: wizardapp

      #Although we don't need this artifact, if it's missing then we can abort this job
      - uses: actions/download-artifact@v3
        if: ${{ github.event.inputs.createRelease == 'true' }}
        with:
          name: CompiledBicep
          path: compilebicep

      - name: Deploy to GitHub Pages Canary
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages-canary
          commit_message: Deploy to Canary Github pages
          build_dir: wizardapp
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  DeployWebAppToProd:
    runs-on: ubuntu-latest
    name: Deploy Web App to Prod Pages
    if: ${{ always() }}
    environment: UI-Deploy-Manual-Approval
    needs: [BuildWebApp , CreateRelease, DeployWebAppToCanary]
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: WizardApp
          path: wizardapp

      #Although we don't need this artifact, if it's missing then we can abort this job
      - uses: actions/download-artifact@v3
        if: ${{ github.event.inputs.createRelease == 'true' }}
        with:
          name: CompiledBicep
          path: compilebicep

      - name: Deploy to GitHub Pages Prod
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: wizardapp
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}