name: Release GitHub Pages site

on:
  workflow_dispatch:
    inputs:
      templateRelease:
        description: 'What (existing or NEW) release tag to point the Wizard to'
        type: string
        required: true
      createRelease:
        description: 'Build the bicep and create a NEW GitHub release'
        type: boolean
        required: false

env:
  templateRelease: ${{ github.event.inputs.templateRelease }}

jobs:
  BuildWebApp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build node app with bicep release
        run: |
          cd helper
          npm install
          REACT_APP_APPINSIGHTS_KEY=${{ secrets.REACT_APP_APPINSIGHTS_KEY}} REACT_APP_TEMPLATERELEASE="${{env.templateRelease}}"  npm run build

      - name: Create GitHub pages release artifact
        uses: actions/upload-artifact@v2
        with:
          name: WizardApp
          path: helper/build

  CreateRelease:
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.createRelease == 'true' }}
    steps:
      - uses: actions/checkout@v2

      - name: Install Bicep
        shell: pwsh
        run: az bicep install

      - name: Bicep build
        shell: pwsh
        run: |
          #write-output $pwd
          $compiledir=Join-Path -Path $pwd -ChildPath "bicep/compiled"

          write-output $compiledir
          If(!(test-path $compiledir))
          {
                New-Item -ItemType Directory -Force -Path $compiledir
          }

          /home/runner/.azure/bin/bicep build bicep/main.bicep --outdir $compiledir

      - name: Create Bicep release artifact
        uses: actions/upload-artifact@v2
        with:
          name: CompiledBicep
          path: bicep/compiled/main.json

      - name: Create GitHub release
        run: |
          echo "TODO: Use GitHub CLI to create release"

  DeployWebApp:
    runs-on: ubuntu-latest
    needs: [BuildWebApp , CreateRelease]
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: WizardApp
          path: wizardapp

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages-test
          build_dir: wizardapp
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
