name: Validate GitHub Pages site

on:
  ## Pre-PR approval, Status checks that are required (needs to have job called 'Validation'), or PR will not merge
  pull_request:
    # Target branch (any source branch)
    branches: [main]
    paths:
      - ".github/workflows/ghpages.yml"
      - "helper/**"

  workflow_dispatch:
    inputs:
      REACT_APP_TEMPLATERELEASE:
        required: false
        type: string
        default: ''
        description: 'Test against an older release tag? (Provided the tag)'
      doAzCmdDeployment:
        description: 'Test AZ Cmd by deploying to an Azure subscription'
        default: false
        type: boolean
        required: false

jobs:
  SetupWF:
    runs-on: ubuntu-latest
    outputs:
      REACT_APP_TEMPLATERELEASE: ${{ github.event.inputs.REACT_APP_TEMPLATERELEASE }}
      doAzCmdDeployment: ${{ github.event.inputs.doAzCmdDeployment }}
    steps:
      - name: Reusable workflow
        run: |
          echo "Resuable workflows can't be directly passed ENV/INPUTS (yet)"
          echo "So we need this job to be able to access the value in env.RG"
          echo "see https://github.community/t/reusable-workflow-env-context-not-available-in-jobs-job-id-with/206111"

  Validation:
    needs: [SetupWF]
    uses: ./.github/workflows/ghpagesTest.yml
    with:
      REACT_APP_TEMPLATERELEASE: ${{ needs.SetupWF.outputs.REACT_APP_TEMPLATERELEASE }}
      doAzCmdDeployment: ${{ needs.SetupWF.outputs.doAzCmdDeployment }}
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}

  Spelling:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: streetsidesoftware/cspell-action@v1.3.4
        name: Spell Check
        if: ${{github.event_name!='workflow_dispatch'}}
        with:
          config: './cspell.json'
          inline: warning
          root: '.'
          files: "**/*.{ts,js,md}" #You need to respecify this setting - even though it's in the cspell.json config :(
          incremental_files_only: false
          strict: true #setting to false allows the build to continue even if spelling mistakes are detected
