name: Publish Helper Gtihub Page

on:
  push:
    paths:
      - ".github/workflows/ghpages.yml"
      - "helper/**"

  workflow_dispatch:
  
jobs:
  HelperAppBuildTestPublish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build and start node app
        run: |
          cd helper
          npm install
          REACT_APP_APPINSIGHTS_KEY=${{ secrets.REACT_APP_APPINSIGHTS_KEY}} REACT_APP_K8S_VERSION="1.20.9" REACT_APP_AZ_TEMPLATE_ARG="--template-uri https://github.com/Azure/Aks-Construction/releases/download/0.1.7-preview/main.json" npm run build
          (npm run start&)
          
      - name: Playwright - Install OS dependencies
        run: npx playwright install-deps chromium
        
      - name: Playwright - Install test cli
        run: npm install -D @playwright/test
        
      - name: Test web server is up
        run: curl http://localhost:3000/Aks-Construction
        
      - name: File system prep
        run: |
          mkdir screengrabs
        
      - name: Playwright - Run fragile helper tests
        env:
          filenamewordmatch: 'helper-fragile'
        continue-on-error: true
        run: npx playwright test --browser chromium .github/workflows_dep/playwright/ -g '${{ env.filenamewordmatch }}'
        
      - name: Playwright - Run stable helper tests
        env:
          filenamewordmatch: 'helper'
          filenamewordexclude: 'fragile'
        run: npx playwright test --browser chromium .github/workflows_dep/playwright/ -g '${{ env.filenamewordmatch }}' --grep-invert '${{ env.filenamewordexclude }}'
        
      - name: Persist test screengrabs as artifacts
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: PlaywrightScreengrabs
          path: screengrabs/*.png
        
      - name: Deploy to GitHub Pages
        if: success() && github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: helper/build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
