name: Publish Helper GitHub Page

on:
  push:
## Post-PR approval, Deploy Helper to production
    branches: [main]
    paths:
      - ".github/workflows/ghpages.yml"
      - "helper/**"

## Pre-PR approval, Status checks that are required (needs to have job called 'Validation'), or PR will not merge
  pull_request:
    # Target branch (any source branch)
    branches: [main]
    paths:
      - ".github/workflows/ghpages.yml"
      - "helper/**"

  workflow_dispatch:

env:
  templateRelease: 0.3.0-preview

jobs:
  
  Validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: streetsidesoftware/cspell-action@v1.3.4
        name: Spell Check
        if: ${{github.event_name!='workflow_dispatch'}} 
        with:
          config: './cspell.json'
          inline: warning
          root: '.'
          incremental_files_only: false

      - name: Build and start node app
        run: |
          cd helper
          npm install
          REACT_APP_K8S_VERSION="1.20.9" REACT_APP_AZ_TEMPLATE_ARG="--template-uri https://github.com/Azure/Aks-Construction/releases/download/${{env.templateRelease}}/main.json" npm run build
          npm run start&

      - name: Playwright - Install w/ OS dependencies
        run: |
          cd helper
          npx playwright install #https://github.com/microsoft/playwright/issues/4033
          npx playwright install-deps chromium
        
      - name: Test web server is up
        run: curl http://localhost:3000/Aks-Construction
        
      - name: Verifying Playwright install
        run: |
          cd helper
          
          echo "Looking for playwright"
          ls node_modules | grep playwright

          echo "Playwright version"
          npx playwright -V
          
      - name: File system prep
        run: |
          mkdir failscreengrabs
          mkdir alwaysscreengrabs
                    
      - name: Playwright - Run fragile helper tests
        env:
          filenamewordmatch: 'helper-fragile'
        continue-on-error: true
        run: |
          cd helper
          npx playwright test --browser chromium .playwrighttests/ -g '${{ env.filenamewordmatch }}' --reporter dot
        
      - name: Playwright - Run stable helper tests
        env:
          filenamewordmatch: 'helper'
          filenamewordexclude: 'fragile'
        run: |
          cd helper
          npx playwright test --browser chromium .playwrighttests/ -g '${{ env.filenamewordmatch }}' --grep-invert '${{ env.filenamewordexclude }}' --reporter list

      - name: Persist test failure screengrabs as artifacts
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: TestFailScreengrabs
          path: helper/failscreengrabs/*.png

      - name: Persist always screengrabs as artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: Screengrabs
          path: helper/alwaysscreengrabs/*.png

  Deploy:
    runs-on: ubuntu-latest
    needs: [Validation]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2

      - name: Build node app with bicep release
        run: |
          cd helper
          npm install
          REACT_APP_APPINSIGHTS_KEY=${{ secrets.REACT_APP_APPINSIGHTS_KEY}} REACT_APP_K8S_VERSION="1.20.9" REACT_APP_AZ_TEMPLATE_ARG="--template-uri https://github.com/Azure/Aks-Construction/releases/download/${{env.templateRelease}}/main.json" npm run build

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: helper/build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
