# Workflow is for testing reusable workflows to expedite the developer inner loop.

name: Test-Java App Deploy

on:
  workflow_dispatch: 
  
  pull_request:
    branches: [main]
    paths: 
      - ".github/workflows/Test_ReusableWorkflows.yml"

concurrency: ci-${{ github.ref }}

env:
  RG: "Automation-Actions-AksDeployCI"

jobs:
  deploy-java-app-certmgr:
    uses: azure/aks-construction/.github/workflows/AppDeploy_JavaApp.yml@${GITHUB_REF##*/}
    with:
      RG: Automation-Actions-AksDeployCI #$RG
      AKSNAME: aks-Byo
      DNSDOMAIN: azdemo.co.uk
      DNSRG: domainssl
      DNSRECORDNAME: openjdk-demo
      AKVNAME: kv-Byo
      AGNAME: agw-Byo
      APPNAME: openjdk-demo
      FRONTENDCERTTYPE: certmanager-staging
      MINIHELMBRANCH: main
      UNINSTALLAFTERVERIFY: false
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}

  deploy-java-app-certmgr2:
    needs: [deploy-java-app-certmgr, deploy-java-app-kvssl]
    uses: azure/aks-construction/.github/workflows/AppDeploy_JavaApp.yml@${GITHUB_REF##*/}
    with:
      RG: Automation-Actions-AksDeployCI #$RG
      AKSNAME: aks-Byo
      DNSDOMAIN: azdemo.co.uk
      DNSRG: domainssl
      DNSRECORDNAME: openjdk-demo2
      AKVNAME: kv-Byo
      AGNAME: agw-Byo
      APPNAME: openjdk-demo2
      FRONTENDCERTTYPE: certmanager-staging
      MINIHELMBRANCH: main
      UNINSTALLAFTERVERIFY: false
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}

  deploy-java-app-kvssl:
    needs: [deploy-java-app-certmgr]
    #uses: azure/aks-construction/.github/workflows/AppDeploy_JavaApp.yml@gb-privatelink-cicd
    uses: azure/aks-construction/.github/workflows/AppDeploy_JavaApp.yml@${GITHUB_REF##*/}
    with:
      RG: Automation-Actions-AksDeployCI #$RG
      AKSNAME: aks-Byo
      DNSDOMAIN: azdemo.co.uk
      DNSRG: domainssl
      DNSRECORDNAME: openjdk-kvssl
      AKVNAME: kv-Byo
      AGNAME: agw-Byo
      APPNAME: openjdk-kvssl
      FRONTENDCERTTYPE: appgw-selfsigned
      MINIHELMBRANCH: main
      UNINSTALLAFTERVERIFY: false

    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
